[Unit]
Description=Cleans docker container cruft weekly

[Timer]
# Time to wait after booting before we run first time
OnBootSec=10min
# Time between running each consecutive time
OnCalendar=weekly

[Install]
WantedBy=multi-user.target
