This is {{ ansible_hostname }} running {{ ansible_distribution }} {{ ansible_distribution_version }}

{{ ansible_system }} {{ ansible_kernel }}

Unauthorized access is forbidden.

External IP address: {{ external_hostname }}

This machine is {{ ansible_os_family }} and uses {{ ansible_pkg_mgr }} for package management.
